<p id="notice"><%= notice %></p>

<h1>Volunteer Signup Shifts</h1>
<hr>

<% @shifts.each do |shift| %>
  <div class="row">
    <h3><%= shift.name %> -- <%= shift.shift_time %></h3>
    <% if current_user.try(:admin?) %>
      <p class="admin-info text-muted"><%= "shift_type: #{shift.shift_type} -- id: #{shift.id}"%></p>
    <% end %>
    <%= render 'shared/shift_table', shift: shift %>
  </div>
  <hr>
<% end %>

<br>
