<h1>Volunteer Signup Shifts</h1>

<%= link_to 'All Shifts', signups_path,
            :'data-no-turbolink' => true, class: 'btn btn-default shift-button active', id: 'all-tab' %>
<%= link_to 'All Available', signups_path(shift_type: 'all_available'),
            :'data-no-turbolink' => true, class: 'btn btn-default shift-button', id: 'all_available-tab' %>
<%= link_to 'Before Race-day / Race-day Setup', signups_path(shift_type: 'setup'),
            :'data-no-turbolink' => true, class: 'btn btn-default shift-button', id: 'setup-tab' %>
<%= link_to 'Marshall', signups_path(shift_type: 'marshall'),
            :'data-no-turbolink' => true, class: 'btn btn-default shift-button', id: 'marshall-tab' %>
<%= link_to 'Registration', signups_path(shift_type: 'registration'),
            :'data-no-turbolink' => true, class: 'btn btn-default shift-button', id: 'registration-tab' %>
<%= link_to 'Breakdown / Day After', signups_path(shift_type: 'breakdown'),
            :'data-no-turbolink' => true, class: 'btn btn-default shift-button', id: 'breakdown-tab' %>

<hr>
<div id="shifts-table">
  <%= render 'shared/shift_table', shifts: @shifts %>
</div>
<%= render 'shared/edit_email_modal' %>
<br>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $('.shift-button').removeClass('active');
    $('#<%= @shift_type %>-tab').addClass('active');

    <% if flash[:shift_id] %>
      var position = $(<%= escape_javascript "#shift-#{flash[:shift_id]}" %>).position();
      $(window).scrollTop(position.top);
    <% end %>
  });

  // insert the signup_id into a hidden field in the modal
  $('#edit-signup-modal').on('show.bs.modal', function(e) {
    var signupId = $(e.relatedTarget).data('signup-id');
    $(e.currentTarget).find('input[name="signup_id"]').val(signupId);
  });
</script>
